#header-inner h1 a {
    height: 20%;
    margin: 4% 0 0 10%;
    width: 80%;
		}

#tagline{
	margin: 0;
	width: 50%;
  padding-bottom: 1%;
	}
	

.page-topbg
 {
	height: 45%;
	}
	
#menu{
	text-align:center;
	}
	
#menu li {
	border:none;
	}
	
.two-third  {
    width: 100%;
}

.quarter {
		width: 40%;
		padding:0;
	}