<h1>Listing users</h1>
<hr>
<table class='table table-striped table-bordered'>
<thead>
  <tr>
    <th>Username</th>
    <th>Administrator</th>
  </tr>
</thead>
<tbody>
<% @users.each do |user| %>
  <tr>
    <td><%=h user.email %></td>
    <td>
      <div class='btn-group' data-toggle='buttons-radio'>
        <button class='btn <%= user.is_admin? ? 'active btn-success' : '' %>'>Yes</button>
        <button class='btn <%= user.is_admin? ? '' : 'active btn-danger' %>'>No</button>
      </div>
    </td>
  </tr>

<% end %>
</tbody>
</table>

