<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>North Canton Church</title>
<%= stylesheet_link_tag "bootstrap.css" %>
<script type="text/javascript">
    var CKEDITOR_BASEPATH = '/assets/ckeditor/';
</script>
<%= javascript_include_tag "application" %>
<% if Rails.env.production? -%>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28608739-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<% end -%>
</head>
<body>
  <div id="header">
    <div id="header-inner">
      <div id="center-wrapper">
        <%= raw(flash_message) %>
        <%= yield %>
      </div>
    </div>
  </div>

</body>
</html>